
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">

<%- include('partials/header') -%>
<div >
  <div >
    <div >
      
      <img class="img-fluid" src="<%= post.image%>" />
    
    </div>
    <div >
      <p><%= post.caption %></p>
    </div>
    <div class="mt-5">
      
      <form action="/comment/createComment/<%=post._id%>"  method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Add A Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%= comments[i].comment%>
        </li>
      <% } %>
    </ul>
    <div >
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>
    </div></div></div>
<%- include('partials/footer') -%>
